# Week 7 Exercise

In this notebook exercise, we will have three different cases to practice your learning outcomes in the synchronous session. The demono notebook is available in this link. Please don't worry if you can finish this in class, but please remember to submit your final notebook in the following submission point. It is important for your to receive feedback about this notebook from the instructor as this is helpful in supporting your assignment.

In [2]:
# Importing all libries we used in this notebook

import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor # using package of testing VIF in statsmodels
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt
import numpy as np

## 01-Case 1 - MBA Data

<center><img src="../Image/businessweek.png" width=600 height=400 /></center>

Consider the data for Business Week’s top U.S. MBA programs in `Excercise_1.csv`. The csv file is available in the data folder of the repo, so please use similar document path to _read_ the csv file. 

Use these data to estimate a multiple regression model to assess whether there is a relationship between the enroll-ment and the following explanatory variables: (a) thepercentage of international students, (b) the percentageof female students, (c) the percentage of Asian Americanstudents, (d) the percentage of minority students, and (e) the resident tuition and fees at these business schools.

Hints of the data analysis process:

1. Loading the data from correct document/folder path - `ExData`
2. Data preparation - renaming variable and cleaning the NaN
3. Data analysis - using the sm regression method not the smf with formula api
4. Data interpretation - check the demo notebook to interpret the VIF values

In [ ]:
# 1 loading the data to a new dataframe you may named it as df_MBA (Solution)

In [ ]:
# 2 renaming the variable names that are required in this case study (solution)

In [ ]:
# 3 droping the missing values use dropna function to the dataframe (solution)

In [ ]:
# 4a building your regression model via the new approch I introduced (solution)

In [ ]:
# 4b calculating the VIF values

# using the vif function to obtain the vif value of the independent variables


# creating a new dataframe to report the results

### Question 1
Determine whether each of the regression coefficientsfor the explanatory variables in this model is statisti-cally different from zero at the5%significance level.Summarize your findings.

Please type in you answer below:

_______________________________________________

### Question 2
Is there evidence of multicollinearity in this model? Explain why or why not?

Please type in you answer below:

_______________________________________________

## 02-Case 2 Photography Shop (Time series data)

The file `Exercise_2.csv` contains monthly sales for a photography studio and the price charged per portrait duringeach month. 

Use regression to estimate an equation for predicting the current month’s sales from last month’s sales and the current month’s price. 

In this example, we will experience a new method to make the prediction better for the 'time-lagged' effect. Considering the influence of certain practices or company's investment will take time, the effect of independent variables could be lagged. To estimate such effect in the regression model, we can create a lagged variable for the analysis. To create a lagged variable in pandas, we can use the `shift` function. 

For example, if we have a dataframe called `df` and we want to lag the variable of `Satisfaction` for 1 index (all the observations on Satisfaction will lag one row), we can use the below syntax:

`df['lagSatisfaction']=df['Satisfaction'].shift(1)`

In [ ]:
df_Photo = pd.read_csv('../ExData/Exercise_2.csv')

# Using the above example to create a time lagged variable (solution)
# Hints - check observation format and drop NaN

In [ ]:
# Building a regression model for predicting the current month's sales from last month's sales and current month's price

### Question 1

Discuss how you can tell whether multicollinearity, or heteroscedasticity might be aproblem. Please refer to the Demo - 1.2.1 Assumption 3 and 2.0 Multicollinearity.

Please type in you answer below:

_______________________________________________

In [ ]:
# Using residual plot to check the heteroscedasticity

In [ ]:
# Checking the VIF again

# using the vif function to obtain the vif value of the independent variables

# creating a new dataframe to report the results

### Question 2

If the price of a portrait during month 21 is $30, predict month 21 sales.

Please type in you answer below:

_______________________________________________

In [ ]:
# (Solution)
# Hint: creating a new dataframe with Price value and LagSales value and assigning a constant values

## 03-Additional Case in Preparing the Instructor's Data

The following exercise is relevant to the Instructor's data preparation for the further analysis. While you are allowed to modify the original csv directly, I hope you can use the code purely to finish the data preparation. There are three different points I would like you to experience:

1. Creating a subset of the sample based on certain conditions;
2. Lagging the bariable in a panel dataset.

### 03-1 Creating a new dataframe based on certain conditions

In order to select rows that based on the conditional `value` on certain columns, we can simply use the pandas function of `.loc` the argument of `==`. An example of the code is shown below:

`df.loc[df['column_name'] == value]`

Combining multiple conditions, we can the function of `.betwee`:

`df = df[(df['column_name'] >= A) & (df['column_name'] <= B)]`

In [3]:
# Example - identifying a group of companies in the dataset that is in the industry of Metal Mining (SIC - 1000)
# Creating a new dataframe - df_Mining_Company that only consists of the Metal Mining compnies
df = pd.read_csv('../ExData/Sample 1_CSV_S&P1500_Raw Dataset_Data Analytics in Business Assignment_2021.csv')
df_Mining_Company = df.loc[df['SIC Code'] == 1000]
df_Mining_Company

,Ticker,Name,Year,ISIN Number,SIC Code,GICS Industry,Country or Territory of Domicile,Number of Employees,Total Assets,R&D Expense,R&D Expense Adjusted,Operating Expenses R&D,Cash and Cash Equivalents,Environmental Disclosure Score,Social Disclosure Score,Governance Disclosure Score,Tobin's Q Ratio,Return on Assets,Return on Common Equity,Gross Margin
144,CLF UN Equity,Cleveland-Cliffs Inc,2016,US1858991011,1000.0,151040,US,2938.0,1923.9,0.0,NaN,NaN,323.4,34.1085,28.0702,58.9286,2.7800,8.5776,NaN,18.0187
1650,CLF UN Equity,Cleveland-Cliffs Inc,2017,US1858991011,1000.0,151040,US,2938.0,2953.4,0.0,0.0,0.0,1007.7,37.9845,28.0702,58.9286,1.8765,15.0493,NaN,25.0589
3156,CLF UN Equity,Cleveland-Cliffs Inc,2018,US1858991011,1000.0,151040,US,2926.0,3529.6,0.0,0.0,0.0,823.2,42.6357,28.0702,58.9286,1.5173,34.8018,NaN,34.7110

We can also use two-digt SIC Code to define the industry and create a competitor set of the companies. There is a higherachy structure to define the industry sector from the SIC code. Click [here](https://siccode.com/sic-code/20-39/manufacturing) for more information. 

For exmaple, if we consider the whole manufacturing sector this will contains all the company with SIC codes value in the range between 20xx to 39xx. Here, 20 and 39 represent a higher level of the industry cluster. 

With these information, can you define a new dataframe with all the manufacturing companies in S&P 1500?

In [4]:
# Using the information and example above to create a manufacturing companies observations dataframe (Solution)
df_Manufacturing = df[(df['SIC Code'] >= 2000) & (df['SIC Code'] <= 3999)]
df_Manufacturing.head()

,Ticker,Name,Year,ISIN Number,SIC Code,GICS Industry,Country or Territory of Domicile,Number of Employees,Total Assets,R&D Expense,R&D Expense Adjusted,Operating Expenses R&D,Cash and Cash Equivalents,Environmental Disclosure Score,Social Disclosure Score,Governance Disclosure Score,Tobin's Q Ratio,Return on Assets,Return on Common Equity,Gross Margin
3,NXPI UW Equity,NXP Semiconductors NV,2016,NL0009538784,3674.0,453010,NL,40400.0,24898.0000,1560.0,1520.0,1560.0,1894.0000,40.3101,28.0702,26.7857,1.8811,0.7805,1.7817,42.8406
4,CELH UR Equity,Celsius Holdings Inc,2016,US15118V2079,2086.0,302010,US,39.0,17.7171,0.0,0.0,0.0,11.7471,NaN,3.5088,37.5000,6.2765,NaN,NaN,42.7479
7,BA UN Equity,Boeing Co/The,2016,US0970231058,3721.0,201010,US,150500.0,89997.0000,4626.0,4626.0,4626.0,8801.0000,28.6822,24.5614,55.3571,2.0585,5.4597,140.7718,15.4766
11,CAT UN Equity,Caterpillar Inc,2016,US1491231015,3531.0,201060,US,95400.0,74704.0000,1853.0,1853.0,1853.0,7168.0000,33.3333,38.5965,71.4286,1.5522,-0.0876,-0.4795,25.6818
15,CVX UN Equity,Chevron Corp,2016,US1667641005,2911.0,101020,US,55200.0,260078.0000,476.0,0.0,0.0,6988.0000,47.9339,51.5625,69.6429,1.2964,-0.1895,-0.3333,-0.1287

### 03-2 Lagging the data across multiple observations

You may find the S&P 1500 is a panel data set with multiple observations and time series data. Panel data is a dataset in which the behavior of entities are observed across time. When considering casual inference, for certain practices and investments as an example, will take time to make the effects. For example, the investment of R&D will not immediately make the effect on current year financial performance (i.e. Tobin's Q). To build a more robust regression model, we may consider a time lagged for the dependent variable.

Similar to the syntax from Case-02, we can use the `.shift()` function to create a new lagged variable. But the following methods I introduce is slightly different, there are several observations, but manageable because only one variable needs to be lagged. 

First, we need to reoganise the dataframe through sorting out sequence, based on Ticker and Year.

We can use the `.sort_values` function. Below is the example, if we have a dataframe name `df_old` with variables `A` and `B`:

`df_new = df_old.sort_values(by='A', 'B')`

With the above syntax, the sequence of the rows will be reorganised as follows: If values in Variable A is equals, then it will sort the values of Variable B (ascending by default).

In [5]:
# Sorting the dataframe of S&P 1500 based on Ticker and Year
df_new = df.sort_values(by=['Ticker','Year'])
df_new.head(20)

,Ticker,Name,Year,ISIN Number,SIC Code,GICS Industry,Country or Territory of Domicile,Number of Employees,Total Assets,R&D Expense,R&D Expense Adjusted,Operating Expenses R&D,Cash and Cash Equivalents,Environmental Disclosure Score,Social Disclosure Score,Governance Disclosure Score,Tobin's Q Ratio,Return on Assets,Return on Common Equity,Gross Margin
793,A UN Equity,Agilent Technologies Inc,2016,US00846U1016,3826.0,352030,US,12500.0,7794.000,329.000,329.000,329.000,2289.000,51.1628,43.8596,75.0000,2.2668,6.0499,10.9869,52.2846
2299,A UN Equity,Agilent Technologies Inc,2017,US00846U1016,3826.0,352030,US,13500.0,8426.000,339.000,339.000,339.000,2678.000,50.3876,38.5965,75.0000,3.0264,8.4340,15.0760,53.8685
3805,A UN Equity,Agilent Technologies Inc,2018,US00846U1016,3826.0,352030,US,14800.0,8541.000,387.000,387.000,387.000,2247.000,52.7132,33.3333,60.7143,2.8776,3.7249,6.7248,54.5381
654,AAL UW Equity,American Airlines Group Inc,2016,US02376R1023,4512.0,203020,US,122300.0,51274.000,0.000,0.000,0.000,322.000,42.6357,49.1228,57.1429,1.3881,5.3687,56.8153,NaN
2160,AAL UW Equity,American Airlines Group Inc,2017,US02376R1023,4512.0,203020,US,126600.0,52785.000,0.000,0.000,0.000,295.000,47.2868,49.1228,60.7143,1.4835,2.4640,56.8153,NaN
3666,AAL UW Equity,American Airlines Group Inc,2018,US02376R1023,4512.0,203020,US,128900.0,60580.000,0.000,0.000,0.000,275.000,51.1628,49.1228,66.0714,1.2469,2.4911,56.8153,NaN
164,AAN UN Equity,Aaron's Co Inc/The,2016,US00258W1080,7359.0,255040,US,10200.0,1588.143,0.000,NaN,NaN,283.113,NaN,NaN,NaN,NaN,4.1708,10.7074,56.1158
1670,AAN UN Equity,Aaron's Co Inc/The,2017,US00258W1080,7359.0,255040,US,10200.0,1528.140,0.000,NaN,NaN,33.760,NaN,NaN,NaN,NaN,9.1723,20.3076,57.3881
3176,AAN UN Equity,Aaron's Co Inc/The,2018,US00258W1080,7359.0,255040,US,10800.0,1632.812,0.000,NaN,NaN,12.006,NaN,NaN,NaN,NaN,3.2049,6.6706,60.5423
1483,AAOI UQ Equity,Applied Optoelectronics Inc,2016,US03823U1025,3674.0,452010,US,2776.0,322.318,31.780,31.780,31.780,50.224,3.8760,3.5088,51.7857,1.6326,10.4848,15.9040,33.3524
2989,AAOI UQ Equity,Applied Optoelectronics Inc,2017,US03823U1025,3674.0,452010,US,3054.0,452.948,35.365,35.365,35.365,82.936,3.8760,3.5088,51.7857,1.9183,19.0776,26.3800,43.4913
4495,AAOI UQ Equity,Applied Optoelectronics Inc,2018,US03823U1025,3674.0,452010,US,2956.0,466.840,49.903,49.903,49.903,55.646,3.8760,3.5088,51.7857,0.9498,-0.4666,-0.6480,32.8166
256,AAON UW Equity,AAON Inc,2016,US0003602069,3585.0,201020,US,1619.0,256.530,12.000,12.000,12.000,24.153,NaN,NaN,48.2143,6.9807,21.8135,27.7411,30.7518
1762,AAON UW Equity,AAON Inc,2017,US0003602069,3585.0,201020,US,1991.0,296.780,13.000,13.000,13.000,21.457,NaN,19.2982,51.7857,6.6833,19.6989,24.5972,30.4510
3268,AAON UW Equity,AAON Inc,2018,US0003602069,3585.0,201020,US,2221.0,307.994,13.500,13.500,13.500,1.994,4.6512,19.2982,51.7857,6.1084,13.9983,17.3954,23.8584
1045,AAP UN Equity,Advance Auto Parts Inc,2016,US00751Y1064,5531.0,255040,US,41000.0,8315.033,0.000,0.000,0.000,135.178,3.1008,14.0351,51.7857,2.1493,5.5906,17.0240,44.4822
2551,AAP UN Equity,Advance Auto Parts Inc,2017,US00751Y1064,5531.0,255040,US,40000.0,8482.301,0.000,0.000,0.000,546.937,6.9767,14.0351,55.3571,1.4663,5.6617,15.0206,43.5795
4057,AAP UN Equity,Advance Auto Parts Inc,2018,US00751Y1064,5531.0,255040,US,40000.0,9040.648,0.000,0.000,0.000,896.527,16.2791,28.0702,58.9286,1.8532,4.8376,12.1690,44.0414
465,AAPL UW Equity,Apple Inc,2016,US0378331005,3571.0,452020,US,116000.0,321686.000,10045.000,10045.000,10045.000,20484.000,62.5000,29.8246,60.7143,2.4710,14.9296,36.9033,39.0760
1971,AAPL UW Equity,Apple Inc,2017,US0378331005,3571.0,452020,US,123000.0,375319.000,11581.000,11581.000,11581.000,20289.000,62.5000,29.8246,60.7143,2.7479,13.8739,36.8675,38.4699

Next we can use the `.shift()` function to make a one year lag for a given variables.

Hint: If we directly shift the value, some observations may have the data from a different company. Therefore, you will need to use `.grouby()` function to specify the shifting.

Pandas groupby is an inbuilt method that is used for grouping data objects into Series (columns) or DataFrames (a group of Series) based on particular indicators. The groupby in Python makes the management of datasets easier since you can put related records into groups.

If we `grouby` the ticker/company name, the shift will stop and restart for individual group rather than shiftting continously in a whole dataframe. 

Below is the example syntax to enable us grouping variable of `Name` and shifting 1 row for variable `B` then create a new variable `B_lagged`:

`df['B_Lagged'] = df.groupby('Name')['B'].shift(1)`

In [6]:
# Creating a one-year lagged variable for Return on Assets with the .shift function and grouby 'Ticker' (solution)
df_new['Lag_ROA'] = df_new.groupby('Ticker')['Return on Assets'].shift(1)
df_new.head(20)

,Ticker,Name,Year,ISIN Number,SIC Code,GICS Industry,Country or Territory of Domicile,Number of Employees,Total Assets,R&D Expense,...,Operating Expenses R&D,Cash and Cash Equivalents,Environmental Disclosure Score,Social Disclosure Score,Governance Disclosure Score,Tobin's Q Ratio,Return on Assets,Return on Common Equity,Gross Margin,Lag_ROA
793,A UN Equity,Agilent Technologies Inc,2016,US00846U1016,3826.0,352030,US,12500.0,7794.000,329.000,...,329.000,2289.000,51.1628,43.8596,75.0000,2.2668,6.0499,10.9869,52.2846,NaN
2299,A UN Equity,Agilent Technologies Inc,2017,US00846U1016,3826.0,352030,US,13500.0,8426.000,339.000,...,339.000,2678.000,50.3876,38.5965,75.0000,3.0264,8.4340,15.0760,53.8685,6.0499
3805,A UN Equity,Agilent Technologies Inc,2018,US00846U1016,3826.0,352030,US,14800.0,8541.000,387.000,...,387.000,2247.000,52.7132,33.3333,60.7143,2.8776,3.7249,6.7248,54.5381,8.4340
654,AAL UW Equity,American Airlines Group Inc,2016,US02376R1023,4512.0,203020,US,122300.0,51274.000,0.000,...,0.000,322.000,42.6357,49.1228,57.1429,1.3881,5.3687,56.8153,NaN,NaN
2160,AAL UW Equity,American Airlines Group Inc,2017,US02376R1023,4512.0,203020,US,126600.0,52785.000,0.000,...,0.000,295.000,47.2868,49.1228,60.7143,1.4835,2.4640,56.8153,NaN,5.3687
3666,AAL UW Equity,American Airlines Group Inc,2018,US02376R1023,4512.0,203020,US,128900.0,60580.000,0.000,...,0.000,275.000,51.1628,49.1228,66.0714,1.2469,2.4911,56.8153,NaN,2.4640
164,AAN UN Equity,Aaron's Co Inc/The,2016,US00258W1080,7359.0,255040,US,10200.0,1588.143,0.000,...,NaN,283.113,NaN,NaN,NaN,NaN,4.1708,10.7074,56.1158,NaN
1670,AAN UN Equity,Aaron's Co Inc/The,2017,US00258W1080,7359.0,255040,US,10200.0,1528.140,0.000,...,NaN,33.760,NaN,NaN,NaN,NaN,9.1723,20.3076,57.3881,4.1708
3176,AAN UN Equity,Aaron's Co Inc/The,2018,US00258W1080,7359.0,255040,US,10800.0,1632.812,0.000,...,NaN,12.006,NaN,NaN,NaN,NaN,3.2049,6.6706,60.5423,9.1723
1483,AAOI UQ Equity,Applied Optoelectronics Inc,2016,US03823U1025,3674.0,452010,US,2776.0,322.318,31.780,...,31.780,50.224,3.8760,3.5088,51.7857,1.6326,10.4848,15.9040,33.3524,NaN
2989,AAOI UQ Equity,Applied Optoelectronics Inc,2017,US03823U1025,3674.0,452010,US,3054.0,452.948,35.365,...,35.365,82.936,3.8760,3.5088,51.7857,1.9183,19.0776,26.3800,43.4913,10.4848
4495,AAOI UQ Equity,Applied Optoelectronics Inc,2018,US03823U1025,3674.0,452010,US,2956.0,466.840,49.903,...,49.903,55.646,3.8760,3.5088,51.7857,0.9498,-0.4666,-0.6480,32.8166,19.0776
256,AAON UW Equity,AAON Inc,2016,US0003602069,3585.0,201020,US,1619.0,256.530,12.000,...,12.000,24.153,NaN,NaN,48.2143,6.9807,21.8135,27.7411,30.7518,NaN
1762,AAON UW Equity,AAON Inc,2017,US0003602069,3585.0,201020,US,1991.0,296.780,13.000,...,13.000,21.457,NaN,19.2982,51.7857,6.6833,19.6989,24.5972,30.4510,21.8135
3268,AAON UW Equity,AAON Inc,2018,US0003602069,3585.0,201020,US,2221.0,307.994,13.500,...,13.500,1.994,4.6512,19.2982,51.7857,6.1084,13.9983,17.3954,23.8584,19.6989
1045,AAP UN Equity,Advance Auto Parts Inc,2016,US00751Y1064,5531.0,255040,US,41000.0,8315.033,0.000,...,0.000,135.178,3.1008,14.0351,51.7857,2.1493,5.5906,17.0240,44.4822,NaN
2551,AAP UN Equity,Advance Auto Parts Inc,2017,US00751Y1064,5531.0,255040,US,40000.0,8482.301,0.000,...,0.000,546.937,6.9767,14.0351,55.3571,1.4663,5.6617,15.0206,43.5795,5.5906
4057,AAP UN Equity,Advance Auto Parts Inc,2018,US00751Y1064,5531.0,255040,US,40000.0,9040.648,0.000,...,0.000,896.527,16.2791,28.0702,58.9286,1.8532,4.8376,12.1690,44.0414,5.6617
465,AAPL UW Equity,Apple Inc,2016,US0378331005,3571.0,452020,US,116000.0,321686.000,10045.000,...,10045.000,20484.000,62.5000,29.8246,60.7143,2.4710,14.9296,36.9033,39.0760,NaN
1971,AAPL UW Equity,Apple Inc,2017,US0378331005,3571.0,452020,US,123000.0,375319.000,11581.000,...,11581.000,20289.000,62.5000,29.8246,60.7143,2.7479,13.8739,36.8675,38.4699,14.9296